<div class="container">
  <nav class="navbar">
    <div class="navbar-brand d-flex flex-row">
      <h3 class="text-success"><i class="fas fa-pen-square"></i> Angular Pratice</h3>  
    </div>
  </nav>
  <section class="d-flex flex-row mt-2 mb-2">
    <button type="button" class="btn btn-outline-success mr-2" [routerLink]="['/lesson1']">Lesson 1</button>
    <button type="button" class="btn btn-outline-success mr-2" [routerLink]="['/lesson2']">Lesson 2</button>
    <button type="button" class="btn btn-outline-success" [routerLink]="['/test']">Markdown</button>
    <!-- <p appBasicHighlight>custom directive</p> -->
  </section>
  <router-outlet></router-outlet>
</div>




